<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Inventário Mercadinho - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
<link rel="stylesheet"
	href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
	integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

	<div id="inicio" class="container-fluid table">
		<div class="container-fluid table" v-if="!seen">
			<a href="/mercado/novo-produto.html">Adicionar Produto</a> <a
				href="/mercado/novo-fabricante.html">Adicionar Fabricante</a>

			<h4>Lista de Produtos</h4>
			<table>
				<tr>
					<th>Nome</th>
					<th>Fabricante</th>
					<th>Volume</th>
					<th>Unidade</th>
					<th>Estoque</th>
					<th></th>
					<th></th>
				</tr>
				<tbody id="event-table">
					<tr v-for="produto in listaProdutos">
						<td>{{ produto.nome }}</td>
						<td>{{ produto.fabricante.nome }}</td>
						<td>{{ produto.volume }}</td>
						<td>{{ produto.unidade }}</td>
						<td>{{ produto.estoque }}</td>
						<td><a href="#"> <span @click="showEditForm(produto)">&#9998;</span>
						</a> <a href="#"> <span @click="excluirProdutos(produto.id)">&#10006;</span>
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div v-if="seen">
			<form class="pure-form pure-form-stacked">
				<a href="#" @click="cancelaEditarProduto">Cancelar</a>

				<fieldset>

					<div class="pure-g">
						<div class="pure-u-1 pure-u-md-1-3"
							data-validate="Please Type Your Name">
							<label for="first-name">Nome do produto</label> <input
								id="first-name" class="pure-u-23-24" type="text" name="name"
								v-model="produto.nome">
						</div>

						<div class="pure-u-1 pure-u-md-1-3"
							data-validate="Enter Your Email (e@a.x)">
							<label for="estoque">Estoque</label> <input class="pure-u-23-24"
								v-model="produto.estoque" type="number" name="email">
						</div>

						<div class="pure-u-1 pure-u-md-1-3"
							data-validate="Enter Your Email (e@a.x)">
							<label class="label-input100">Volume</label> <input
								class="pure-u-23-24" v-model="produto.volume" type="number"
								step="0.01" name="email">
						</div>

						<div class="pure-u-1 pure-u-md-1-3">
							<label class="fabricante">Fabricante</label>
							<div>
								<select v-model="produto.fabricante" class="pure-input-1-2"
									name="service">
									<option v-for="fabricante in fabricantes"
										v-bind:value="fabricante">{{fabricante.nome}}</option>
								</select>
								<div class="dropDownSelect2"></div>
							</div>
						</div>
						
						<div class="pure-u-1 pure-u-md-1-3">
							<label class="label-input100">Selecione a unidade do
								produto</label>

							<div class="pure-u-1 pure-u-md-1-3">
								<input  v-model="produto.unidade"
									id="radio1" type="radio" name="type-product" value="KG"
									checked="checked"> <label for="radio1"> kg </label>
							</div>

							<div class="pure-u-1 pure-u-md-1-3">
								<input  v-model="produto.unidade"
									id="radio2" type="radio" name="type-product" value="G">
								<label  for="radio2"> g </label>
							</div>
						</div>

						<div class="container-contact100-form-btn">
							<button v-on:click="editarProduto(produto.id, produto)"
								class="pure-button pure-button-primary">
								<span> Editar <i class="fa fa-long-arrow-right m-l-7"
									aria-hidden="true"></i>
								</span>
							</button>
						</div>
					</div>
				</fieldset>

			</form>
		</div>
	</div>




	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/bootstrap-vue.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/index.js"></script>
</body>
</html>