<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Cadastrar um novo Fabricante</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
</head>

<body>

	<a href="/mercado/index.html">Voltar</a>

	<div id="novo-fabricante" @submit.prevent>
		<h4>Adicionar novo fabricante</h4>
		<form>

			<div class="wrap-input100 validate-input bg1"
				data-validate="Please Type Your Name">
				<span class="label-input100">Nome do fabricante</span> <input
					class="input100" type="text" v-model="fabricante.nome"
					placeholder="">
			</div>

			<div class="container-contact100-form-btn">
				<button v-on:click="adicionarFabricante" class="contact100-form-btn">
					<span> Adicionar <i class="fa fa-long-arrow-right m-l-7"
						aria-hidden="true"></i>
					</span>
				</button>
			</div>



		</form>

		<h4>Fabricantes:</h4>
		<ul>
			<li v-for="fabricante in fabricantes">{{fabricante.nome}}</li>
		</ul>
	</div>

	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/bootstrap-vue.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/novo-fabricante.js"></script>
</body>
</html>