<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Cadastrar um novo Produto</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
	<link rel="stylesheet"
	href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
	integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
</head>

<body>

	<a href="/mercado/index.html">Voltar</a>

	<div id="novo-produto" @submit.prevent>
		<h4>Adicionar novo produto</h4>
		<form class="pure-form pure-form-stacked">
			<fieldset>
			
			<div class="pure-g">
							<div class="pure-u-1 pure-u-md-1-3"
				data-validate="Please Type Your Name">
				<label class="label-input100">Nome do produto</label> <input
					class="pure-u-23-24" type="text" name="name" v-model="produto.nome"
					placeholder="">
			</div>

			<div class="pure-u-1 pure-u-md-1-3"
				data-validate="Enter Your Email (e@a.x)">
				<label class="label-input100">Estoque</label> <input class="pure-u-23-24"
					v-model="produto.estoque" type="number" name="email">
			</div>

			<div class="pure-u-1 pure-u-md-1-3">
				<label class="label-input100">Selecione a unidade do produto</label>

				<div class="pure-u-1 pure-u-md-1-3">
					<input  v-model="produto.unidade" id="radio1"
						type="radio" name="type-product" value="KG" checked="checked">
					<label class="label-radio100" for="radio1"> kg </label>
				</div>

				<div class="pure-u-1 pure-u-md-1-3">
					<input  v-model="produto.unidade" id="radio2"
						type="radio" name="type-product" value="G"> <label
						class="label-radio100" for="radio2"> g </label>
				</div>
			</div>

			<div class="pure-u-1 pure-u-md-1-3"
				data-validate="Enter Your Email (e@a.x)">
				<label class="label-input100">Volume</label> <input class="pure-u-23-24"
					v-model="produto.volume" type="number" step="0.01" name="email">
			</div>

			<div class="pure-u-1 pure-u-md-1-3">
				<label class="label-input100">Fabricante</label>
				<div >
					<select v-model="produto.fabricante" class="pure-input-1-2"
						name="service">
						<option v-for="fabricante in fabricantes"
							v-bind:value="fabricante">{{fabricante.nome}}</option>
					</select>
					<div class="dropDownSelect2"></div>
				</div>
			</div>

			<div class="container-contact100-form-btn">
				<button v-on:click="adicionarProduto" class="pure-button pure-button-primary">
					<label> Adicionar <i class="fa fa-long-arrow-right m-l-7"
						aria-hidden="true"></i>
					</label>
				</button>
			</div>
			</div>

`		</fieldset>

		</form>

		<h4>Produtos:</h4>
		<ul>
			<li v-for="produto in produtos">{{produto.nome}}</li>
		</ul>
	</div>

	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/bootstrap-vue.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/novo-produto.js"></script>
</body>
</html>